body{
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    max-width: 100%;

}
.ser{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 7%;


    

}
.trabajos{
    width: 28%;
    display: inline-block;
    margin: auto 10px;
   



}
#carrutitulo{
    text-align: center;
    
}

.contar{
    margin: auto 6%;
    background: rgb(230, 230, 230);
    padding: 15px 10px;
    border-radius: 10px;
}
#servicios{
    padding: 16px;
    margin: 15px auto;
    width: 86%;
    background: url(../FOTOS/logo/internal-combustion-engine-work-banner_0.jpg);
    border-radius: 10px;
    text-align: center;

}
#logo{

    width: 10%;
    margin: 0px 10px;
}
.nav-item{
padding-top: 9px;
}
#recomendacion{

    margin: 60px auto;
    text-align: center;
    margin-top: 130px;
    margin-left: 90px;
    margin-right: 90px;
    background: rgb(230, 230, 230);
    padding-top: 10px;
    padding: 50px;
    border-radius: 10px;
}
.recomen{
    width: 30%;
    display: inline-block;
    margin: auto 10px;
}
.comentarios{
    justify-content: center;
    align-items: center;
    display: flex;
  
    background: rgb(230, 230, 230);
    padding: 3%;
   
}
#titulo-car{
    text-align: center;
    margin: 50px auto;
    margin-top: 130px;

}

.estilo{
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: black 2px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#pie{
    background: rgb(24, 23, 23);
    margin-top: 3%;
    height: 100%;
    width: auto;
    color: #fff;
    bottom: 0vw;

  
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    text-align: center;

}
.footer-content h3{
    
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;  
    font-size: 14px;
}


.footer-bottom{
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;

}
#copy{

    text-align: center;
}
.my-fixed-item {
    position: fixed;
    min-height: 120px;
    width: 252px;
    text-align: center;
    word-wrap: break-word;
    background-color: aquamarine;
}
.icon{
    position: fixed;
    bottom: 0vw;
    right: 0vw;
    width: 4%;
    margin: 1%;
    

}
#t3{

    margin-bottom: 50px;
}
#t1{
    margin-bottom: 5px;
}

.fa{
    width: 30px;
    height: 30px;
    line-height: 40px;
    display: block;
    background: none;
    color: #ffff;

    
}
 /*                       ESTO ES PARA EL MODOD NOCTURNO                       */
/*--------------------------------------------------------------------------- */

 
 body.dark{
    background: -webkit-linear-gradient(left,#000000,#292728);

 }
 body.dark nav a{
    color: #c8c8c8;

 }
 body.dark nav a:hover{
    color: #c8c8c8;

  }
  body.dark .container-fluid{
      background: black;
      display: flex;
  }
  
  body.dark #color{
      color: white;
  }
  body.dark #colorbtn{
      background: white;
      color: black;
      
  }
  body.dark header{
      background: black;
      
  }
  body.dark #navcolor{
      background: black;
  }
  body.dark #letrasColor{
      color: white;
  }
 body.dark .contar{
     background: rgb(44, 42, 42);
     border-radius: 10px;
 }
 body.dark #recomendacion{
    padding: 50px;
    background: rgb(44, 42, 42);
    border-radius: 10px;
 }
 
    
  .switch{
      background: #343d5b;
      border-radius: 1000px;
      border: none;
      position: relative;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      outline: none;
      margin-top: 4px;
      margin-left: 10px;
  }
  .switch::after{
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      background: #f1f1f1;
      top: 0;
      left: 0;
      right: 0;
      border-radius: 100px;
      -webkit-transition: .3s ease all;
      transition: .3 ease all;
      
  }
  .switch.active{
      background: orange;
      color: #000;
  }
  .switch.active::after{
    right: 0;
    left: unset;

  }
  .switch span{
      width: 30px;
      height: 30px;
      line-height: 30px;
      display: block;
      background: none;
      color: #fff;
  }
  